<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Credentials</title>
  </head>
  <body>
    <h1>Credentials Information</h1>
    <ul>
      <li><strong>Token:</strong> {{ credentials.token }}</li>
      <li><strong>Refresh Token:</strong> {{ credentials.refresh_token }}</li>
      <li><strong>Token URI:</strong> {{ credentials.token_uri }}</li>
      <li><strong>Client ID:</strong> {{ credentials.client_id }}</li>
      <li><strong>Client Secret:</strong> {{ credentials.client_secret }}</li>
      <li><strong>Scopes:</strong> {{ credentials.scopes }}</li>
    </ul>
  </body>
</html>
